@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", serif;
}

body header {
  height: 30%;
  background-color: #d1a980;
  text-align: center;
}

body header p {
  margin: 0;
}

body nav {
  background-color: #E9EDC9;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body nav a {
  padding: 2vh 1vw 2vh 1vw;
  text-decoration: none;
  color: black;
}

body nav a:hover {
  background-color: #CCD5AE;
}

body nav .enlacesizquierda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 50%;
}

body main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body main aside {
  background-color: #FAEDCD;
  width: 25%;
  padding: 0vw 1vw 0 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main aside p {
  width: 95%;
  text-align: justify;
  margin: 0vw 0vw 1vw 0vw;
}

body main aside img {
  width: 95%;
}

body main aside button {
  background-color: #CCD5AE;
  padding: 0.5vw 2vw 0.5vw 2vw;
}

body main aside .productoaside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section {
  background-color: white;
  width: 80%;
  padding: 0 0 0 1vw;
}

body footer {
  background-color: #d1a980;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body footer .contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body footer .rrss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */